extends layout

block content
  h1= title
  if user
    h2 Welcome #{user.username}!

  p
    | Welcome to #{title}. 
    if (user) 
      p2 Please visit the 
        a(href="/users") list 
        | of users.
    br
    br
    if (user)
    else
      p3  
        br
        |
        a(class='button' href="/login") Login
        |
        br
        br
        |
        a(class='button', href="/register") Register
    

