doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  hr
  footer
    p Copyright &copy; 2019 Group 31
    if user
      br
      a(href='/login/logout') Logout
    
