extend layout

block content
    h2 List of users
    //- draw a table of users
    table#users
        tr
            th User
            th Workouts
        each user in users
            tr
                td= user.name
                td.toWorkouts
                    a(href=`/users/${user._id}`) &#128170; 
